@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}
:root{
    --min-second: rgba(189, 184, 184, 0.703);

    --sc-sc-color: rgba(61, 58, 58, 0.767);

    --bg-color: rgba(63, 61, 61, 0.596);
    --bg-sc-color: rgba(77, 74, 74, 0.096);

    /* Primary color - use for main elements and accents */
  --primary-color: #007bff; /* Blue */

  /* Secondary color - use for secondary elements and accents */
  --secondary-color: #95a3b076; /* Gray */

  /* Accent color - use for call-to-action buttons and important elements */
  --accent-color: #2410a9; /* blue */

  /* Background color - use for background of the page */
  --background-color: #f8f9fa; /* Light gray */

  --background-second-color: rgba(0, 0, 0, 0.5);

  /* Text color - use for text content */
  --text-color: #000000; /* Dark */

  /* Text color - use for text content */
  --text-primary-color: #0c0c0cf5; /* Dar gray */

  /* Border color - use for borders and dividing lines */
  --border-color: #dee2e6; /* Lighter gray */
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}

.who-we-are .about-us p{
    font-size: 1.7rem;
}


section{
    padding: 2rem 9%;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1020px) {
    h3 {
        font-size: 1.7rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
}

