@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}
:root{
    --min-second: rgba(189, 184, 184, 0.703);

    --sc-sc-color: rgba(61, 58, 58, 0.767);

    --bg-color: rgba(63, 61, 61, 0.596);
    --bg-sc-color: rgba(77, 74, 74, 0.096);

    /* Primary color - use for main elements and accents */
  --primary-color: #007bff; /* Blue */

  /* Secondary color - use for secondary elements and accents */
  --secondary-color: #95a3b076; /* Gray */

  /* Accent color - use for call-to-action buttons and important elements */
  --accent-color: #2410a9; /* blue */

  /* Background color - use for background of the page */
  --background-color: #f8f9fa; /* Light gray */

  --background-second-color: rgba(0, 0, 0, 0.5);

  /* Text color - use for text content */
  --text-color: #000000; /* Dark */

  /* Text color - use for text content */
  --text-primary-color: #0c0c0cf5; /* Dar gray */

  /* Border color - use for borders and dividing lines */
  --border-color: #dee2e6; /* Lighter gray */
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}


.contact .info-wrap {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    padding: 30px;
    height: 100%;
  }
  
  @media (max-width: 575px) {
    .contact .info-wrap {
      padding: 20px;
    }
  }
  
  .contact .info-item {
    margin-bottom: 40px;
  }
  
  .contact .info-item i {
    font-size: 20px;
    color: var(--accent-color);
    background: color-mix(in srgb, var(--accent-color), transparent 92%);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .info-item:hover i {
    background: var(--accent-color);
    color: var(--background-color);
  }
  
  .contact .php-email-form {
    background-color: var(--surface-color);
    height: 100%;
    padding: 30px;
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 575px) {
    .contact .php-email-form {
      padding: 20px;
    }
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .contact .php-email-form input[type=text]::placeholder,
  .contact .php-email-form input[type=email]::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
  }
  
  .contact .php-email-form button[type=submit] {
    color: #f8f9fa;
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 25%);
  }