@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}

:root{
    --min-second: rgba(189, 184, 184, 0.703);

    --sc-sc-color: rgba(61, 58, 58, 0.767);

    --bg-color: rgba(63, 61, 61, 0.596);

    --bg-sc-color: rgba(77, 74, 74, 0.096);

  --primary-color: #24c015; /* Blue */
  --min-primary-color: #186526;
  --sec-primary-color: #178413;

  /* Secondary color - use for secondary elements and accents */
  --secondary-color: #d9dee2ef; /* Gray */

  /* Accent color - use for call-to-action buttons and important elements */
  --accent-color: #1a740e; /* blue */

    --background-color: #f8f9fa;

    --background-second-color: rgba(0, 0, 0, 0.9);

    --text-color: #000000; 

    --text-primary-color: #0c0c0cf5; 

    --border-color: #dee2e6; 
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}

.gallery .gallery-filters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
  }
  
  .gallery .gallery-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    font-family: var(--heading-font);
  }
  
  .gallery .gallery-filters li:hover,
  .gallery .gallery-filters li.filter-active {
    color: var(--background-color);
    background-color: var(--primary-color);
  }
  
  .gallery .gallery-filters li:first-child {
    margin-left: 0;
  }
  
  .gallery .gallery-filters li:last-child {
    margin-right: 0;
  }

  
  @media (max-width: 575px) {
    .gallery .gallery-filters li {
      font-size: 14px;
      margin: 0 0 10px 0;
    }
  }
  
  .gallery .gallery-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
  }
  
  .gallery .gallery-item .gallery-info {
    opacity: 0;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: -100%;
    z-index: 3;
    transition: all ease-in-out 0.5s;
    background: color-mix(in srgb, var(--background-color), transparent 10%);
    padding: 15px;
  }
  
  .gallery .gallery-item .gallery-info h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
  }
  
  .gallery .gallery-item .gallery-info p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
  }
  
  .gallery .gallery-item:hover .gallery-info {
    opacity: 1;
    bottom: 0;
  }
  

