@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}

:root{
    --min-second: rgba(189, 184, 184, 0.703);

    --sc-sc-color: rgba(61, 58, 58, 0.767);

    --bg-color: rgba(63, 61, 61, 0.596);
    --bg-sc-color: rgba(77, 74, 74, 0.096);

    /* Primary color - use for main elements and accents */
  --primary-color: #007bff; /* Blue */

  /* Secondary color - use for secondary elements and accents */
  --secondary-color: #95a3b076; /* Gray */

  /* Accent color - use for call-to-action buttons and important elements */
  --accent-color: #2410a9; /* Green */

  /* Background color - use for background of the page */
  --background-color: #f8f9fa; /* Light gray */

  --background-second-color: rgba(0, 0, 0, 0.5);

  /* Text color - use for text content */
  --text-color: #000000; /* Dark */

  /* Text color - use for text content */
  --text-primary-color: #0c0c0cf5; /* Dar gray */

  /* Border color - use for borders and dividing lines */
  --border-color: #dee2e6; /* Lighter gray */
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}


.btn{
    display: inline-block;
    padding: 0.8rem 3.8rem;
    font-size: 2rem;
    border: 0.1rem solid var(--border-color);
    outline: 0;
    background: var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--background-color);
}
.btn:hover{
    box-shadow: 0 0 1rem var(--primary-color);
    transition: .3s;
    opacity: .9;
}

section{
    padding: 2rem 9%;
}


/* carousel */
.carousel{
    height: 100vh;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 80rem;
    max-width: 60%;
    left: 35%;
    transform: translateX(-50%);
    padding: 3rem 4rem;
    box-sizing: border-box;
    color: var(--background-color);
    text-shadow: 0 5px 10px #0004;
    background: var(--bg-color);

}
.carousel .list .item .author{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 7px;
    margin-bottom: 1.5rem;
}
.carousel .list .item .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.carousel .list .item .des {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}



/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--background-color);
    border: none;
    color: var(--primary-color);
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.row-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}


.row-projects .box {
    line-height: 2rem;
}

.row-projects .box h3 {
    font-size: 2rem;
    color: var(--accent-color);
    margin-top: 1rem;
}

.row-projects .box p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: .5rem;
}

.row-projects .box img {
    width: 100%;
    height: 70%;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */
.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}

.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.6s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .3s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
@media (max-width: 850px) {
    section{
        padding: 2rem 3%;
    }
}
@media (max-width: 800px) {
    .carousel {
        height: 80vh;
        width: 100%;
    }
}
@media (max-width: 670px) {
    .thumbnail {
        bottom: -2%;
    }
    .thumbnail .item img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    .row-projects {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 560px) {
    .carousel {
        height: 70vh;
        width: 100%;
    }
    .thumbnail {
        bottom: -8%;
    }
    .thumbnail .item img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    .carousel .list .item .content {
        padding: 2rem;
    }
    .carousel .list .item .content .author{
        margin-bottom: 1rem;
    }
    .carousel .list .item .content .title {
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }  
    .carousel .list .item .des {
        font-size: 1.7rem;
    }
    .arrows {
        top: 80%;
    }
    .carousel .list .item .content {
        top: 10%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    
}

@media (max-width: 1020px) {
    h3 {
        font-size: 1.7rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
}
.team p{
    font-size: 16px;
}

.team .team-member {
    background-color: #f9f9f9; 
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
    padding: 30px;
    height: 100%;
}

@media (max-width: 468px) {
    .team .team-member {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }
}

.team .team-member .pic {
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
}

.team .team-member .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.team .team-member:hover {
    transform: translateY(-10px);
}

.team .team-member .member-info {
    padding-left: 30px;
}

@media (max-width: 468px) {
    .team .team-member .member-info {
        padding: 30px 0 0 0;
        text-align: center;
    }
}

.team .team-member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
}

.team .team-member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .team-member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: rgba(0, 123, 255, 0.15); 
    bottom: 0;
    left: 0;
}

@media (max-width: 468px) {
    .team .team-member span::after {
        left: calc(50% - 25px);
    }
}

.team .team-member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .team-member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

@media (max-width: 468px) {
    .team .team-member .social {
        justify-content: center;
    }
}

.team .team-member .social a {
    background: rgba(0, 123, 255, 0.06); 
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.team .team-member .social a i {
    color: rgba(0, 123, 255, 0.4); 
    font-size: 16px;
    margin: 0 2px;
}

.team .team-member .social a:hover {
    background: #007bff; 
}

.team .team-member .social a:hover i {
    color: #fff; 
}

.team .team-member .social a + a {
    margin-left: 8px;
}
