@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}
:root{
    --min-second: rgba(189, 184, 184, 0.703);

    --sc-sc-color: rgba(61, 58, 58, 0.767);

    --bg-color: rgba(63, 61, 61, 0.596);
    --bg-sc-color: rgba(77, 74, 74, 0.096);

    /* Primary color - use for main elements and accents */
  --primary-color: #24c015; /* Blue */
  --min-primary-color: #186526;
  --sec-primary-color: #178413;

  /* Accent color - use for call-to-action buttons and important elements */
  --accent-color: #1a740e;

  --bgnd-color: #119c34;

  /* Secondary color - use for secondary elements and accents */
  --secondary-color: #95a3b076; /* Gray */

  /* Background color - use for background of the page */
  --background-color: #f8f9fa; /* Light gray */

  --background-second-color: rgba(0, 0, 0, 0.5);

  /* Text color - use for text content */
  --text-color: #000000; /* Dark */

  /* Text color - use for text content */
  --text-primary-color: #0c0c0cf5; /* Dar gray */

  /* Border color - use for borders and dividing lines */
  --border-color: #dee2e6; /* Lighter gray */
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}
.btn{
    display: inline-block;
    padding: 0.8rem 3.8rem;
    font-size: 2rem;
    border: 0.1rem solid var(--border-color);
    outline: 0;
    background: var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--background-color);
}
.btn:hover{
    box-shadow: 0 0 1rem var(--primary-color);
    transition: .3s;
    opacity: .9;
}





.home-services {
    background: url(../img/mazingira/treeplanting1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    align-items: center;
    display: flex;
}

.home-services .content {
    background: var(--bg-color);
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    width: 50%;
    height: 40%;
    margin-left: 10rem;
    position: relative;
}



.home-services .content h3 {
    color: var(--background-color);
    font-size: 4rem;
    padding-bottom: 1rem;
    
}

.home-services .content p {
    color: var(--background-color);
    font-size: 1.7rem;
    padding-bottom: 2rem;
    line-height: 2.5rem;
}

/*-------------------services--------------------------------*/

.services {
    background: url(../img/icons/icons/treeplanting2-removebg-preview.png);
    background-repeat: repeat;
    padding-bottom: 4rem;
}

.services .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    gap: 0.8rem;
    margin-top: 4rem;
}
.services .row .box {
    text-align: center;
    color: var(--text-primary-color);
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: var(--bgnd-color);
    border: .2rem solid var(--background-color);
}
.services .row .box:hover{
    border-color: var(--accent-color);
    transform: scale(1.02);
}
.services .row .box i {
    font-size: 3rem;
    color: var(--primary-color);
}

.services .row .box h3{
    font-size: 2rem;
    margin: 1.5rem 0;
    color: var(--background-color);
}
.services .row .box p{
    font-size: 1.6rem;
}



@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1020px) {
    h3 {
        font-size: 1.7rem;
    }
}

@media (max-width: 820px){
    .services .row{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 570px){
    .services .row{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 560px) {
    .home-services .content {
        width: 40rem;
    }
}
@media (max-width: 412px) {
    .home-services .content {
        margin-left: 3rem;
    }
    .home-services {
        min-height: 50vh;
    }
}


