@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}
:root{
    --min-second: rgba(189, 184, 184, 0.703);

    --sc-sc-color: rgba(61, 58, 58, 0.767);

    --bg-color: rgba(63, 61, 61, 0.596);
    --bg-sc-color: rgba(77, 74, 74, 0.096);

    /* Primary color - use for main elements and accents */
  --primary-color: #24c015; /* Blue */
  --min-primary-color: #186526;
  --sec-primary-color: #178413;

  /* Secondary color - use for secondary elements and accents */
  --secondary-color: #d9dee2ef; /* Gray */

  /* Accent color - use for call-to-action buttons and important elements */
  --accent-color: #1a740e; /* blue */

  /* Background color - use for background of the page */
  --background-color: #f8f9fa; /* Light gray */

  --background-second-color: rgba(0, 0, 0, 0.5);

  /* Text color - use for text content */
  --text-color: #000000; /* Dark */

  /* Text color - use for text content */
  --text-primary-color: #0c0c0cf5; /* Dar gray */

  /* Border color - use for borders and dividing lines */
  --border-color: #dee2e6; /* Lighter gray */
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}
.btn{
    display: inline-block;
    padding: 0.8rem 3.8rem;
    font-size: 2rem;
    border: 0.1rem solid var(--border-color);
    outline: 0;
    background: var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--background-color);

}
.btn:hover{
    box-shadow: 0 0 1rem var(--primary-color);
    transition: .3s;
    opacity: .9;
}


.heading{
 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
    color: var(--text-primary-color);
    
}
.heading h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    position: relative;
}



.heading div{
    display: inline-block;
    border-bottom: .5rem solid var(--accent-color);
    width: 20rem;
}
.heading div:hover{
    width: 27rem;
}
  
section{
    padding: 2rem 8%;
}
header{
    position: relative;
    top: 0; right: 0; left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .1rem 3%;
    background: var(--min-primary-color);
    z-index: 1001;
}
header .logo img{
    width: 12rem;
    /* border-radius: 50%; */

}


header .navbar a{
    background: var(--background-color);
    margin: -.1rem;
    font-size: 1.6rem;
    color: var(--text-primary-color);
    padding: .8rem;
    font-weight: 600;
    
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    flex: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.navbar ul li {
    display: inline-block;
    position: relative;
}
  
.navbar ul li a {
    display: block;
    text-decoration: none;
    position: relative;
    background: var(--bg-sc-color);
    color: var(--background-color);

}

.dropdown li a {
    display: inline-block;
    text-align: right;
    
    
}


.submenu li a {
    width: 100%;
    white-space: nowrap;

}

.navbar ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2.5px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.navbar ul li ul {
    display: none;
    position: absolute;
    background-color: var(--min-primary-color);
    z-index: 1;
}

.navbar ul li:hover > ul {
    display: block;
}

.navbar ul li ul li {
    display: block;
}

.navbar ul li ul li a {
    color: var(--background-color);
}

.navbar ul li ul li:hover > a {
    color: var(--primary-color);
}

.navbar ul li ul.submenu {
    right: 100%;
    top: 0;
}

.navbar ul li ul.submenu li.with-submenu:hover > ul {
    display: block;
}

header .navbar .fa {
    color: var(--background-color);
    font-size: 4rem;
}

header .navbar a:hover{
    color: var(--primary-color);
}
  
/*------------------------header------------------------*/




.navbar1, .navbar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;

}



.row1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}



.row-row-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    font-size: medium;
}

.row-row-items:hover {
    cursor: pointer;
    color: var(--primary-color);
}


.row-row-items a {
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--min-primary-color);
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primary-color);
    transition: .5s ease;
    padding: .3rem;
}

.row-row-items a:hover{
    background: var(--primary-color);
    color: var(--background-color);
    box-shadow: 0 0 1rem var(--primary-color);
}


.icon-logo a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--min-primary-color);
    border:.2rem solid var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primary-color);
    transition: .5s ease;
    margin: .2rem;
    padding: .5rem;
}


.icon-logo a:hover{
    background: var(--primary-color);
    color: var(--background-color);
    box-shadow: 0 0 1rem var(--primary-color);
}

.swiper-slide .swiper-image2 {
    height: 110vh;
    width: 100%;
    object-fit: cover;
}


.header .fa-bars{
    font-size: 2.8rem;
    color: var(--background-color);
    cursor: pointer;
    display: none;

}

.home .home-slid .box{
    position: relative;
    top: .1rem;

}
.home .home-slid .box::before{
    content: "";
    background: var(--background-second-color);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}  
.home .home-slid .box .content{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50% , -50%);
    color: var(--background-color);
    text-align: left;
    padding: 3rem;
    background: var(--bg-color);
    margin-bottom: 1rem;
}

.home .home-slid .box .content h3{
    font-size: 4rem;
    border-bottom: .5rem solid var(--primary-color);
}
.home .home-slid .box .content p{
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 3rem;
}

/* Common styles for professional look */
.swiper-scroll {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.home-slid {
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); /* Optional: subtle shadow */
}

/* Ensure images cover properly */
.swiper-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* ----------------about ----------------*/

.about{
    background: var(--background-color);
}

.heading-about  {
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.6rem;
}

.heading-about  h4 {
    color: var(--text-color);
    font-weight: 800;

}

.about .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;
    background-image: repeating-conic-gradient(green 15%, rgb(15, 92, 5) 20%);
    padding: 2rem;
}

.about .box iframe {
    text-align: center;
}

.about .box .video-links h1 {
    margin-bottom: .8rem;
}


.about .box .video-links p {
    margin-top: .8rem;
    font-size: 1.5rem;
    text-transform: lowercase;
}

.about .box .video-links p a {
    text-decoration: underline;
}

.about .box .image img{
    width: 60rem;
    height: 100%;
    object-fit: cover;
}
.about .box .content h3{
    color: #fff;
    font-size: 3.5rem;
}
.about .box .content p{
    color: #fff;
    font-size: 1.7rem;
    margin: 2rem 0;
    line-height: 2rem;
}


/*-------------------mission-vision--------------------------*/

.mission-vision {
    background: var(--bg-sc-color);
    margin: 4rem 0;
}

.about-mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.3rem;
}

.mission-vision .about-mission h2 {
    color: var(--text-primary-color);
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.mission-vision .about-mission p {
    color: var(--text-primary-color);
    font-size: 1.7rem;
    line-height: 2rem;
}

.mission-vision .about-mission div {
    background: var(--background-color);
    padding: 2rem;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.2);
    border: .2rem solid var(--background-color);
    margin-top: 2rem;
}


.mission-vision .about-mission div:hover {
    border-color: var(--accent-color);
    transform: scale(1.04);
}

/*-------------------services--------------------------------*/

.services {
    background: var(--bg-sc-color);
    padding-bottom: 4rem;
}

.services .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    gap: 0.8rem;
    margin-top: 4rem;
}
.services .row .box {
    text-align: center;
    color: var(--text-primary-color);
    padding: 3.5rem;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: var(--background-color);
    border: .2rem solid var(--background-color);
}
.services .row .box:hover{
    border-color: var(--accent-color);
    transform: scale(1.02);
}
.services .row .box img {
    width: 8rem;
}


.services .row .box h3{
    font-size: 2.5rem;
    margin: 1.5rem 0;
}
.services .row .box p{
    font-size: 2rem;
}

/*-----------------services1--------------------------------*/

.services1 div h3 {
    text-align: center;
    font-size: 2rem;
    color: var(--th-color);
    margin-top: 2rem;
}

.services1 .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: .8rem;
    margin: 3rem auto;
    width: 90%;
}

.services1 .row .box{
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem var(--bg-color);
    display: flex;
}

.services1 .row .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.services1 .row .box:hover img {
    transform: scale(1.1);
}

.services1 .row .box:hover .content{
    transform: translateY(0);
}
.services1 .row .box .content{
    position: absolute;
    top: 0; left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.541), var(--sc-sc-color));
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
    height: 100%; width: 100%;
    transform: translateX(100%);
    transition: .5s ease;
}
.services1 .row .box .content h3{
    font-size: 2rem;
    color: var(--background-color);
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/*-------------------footer--------------------------------*/


.footer{
    background: var(--min-primary-color);
    display: flex;
    flex-direction: column;
    
}

.footer .rows-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
    gap: 2rem;
    text-align: left;
    padding: 2rem;
}

.footer .items {
    align-items: center;
    justify-content: center;
}

.footer .rows .items {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 2rem;
    align-items: center;
    justify-content: center;
    text-align: left;
}

footer .rows .items h1 {
    font-size: 2.5rem;
    line-height: 4rem;
    color: var(--background-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer .rows .items img {
    width: 28rem;
    /* border-radius: 50%; */
    cursor: pointer;
}
.footer h3{
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--background-color);
}
footer .content p {
    font-size: 1.4rem;
    margin: 1rem 0;
    color: var(--background-color);
}
.footer .content a{
    font-size: 1.4rem;
    margin: 1rem 0;
    color: var(--background-color);
}

.footer .content a:hover {
    color: var(--primary-color);
}

.footer i{
    font-size: 2.2rem;
    margin: 1rem 0.5rem;
    color: var(--primary-color);
    cursor: pointer;
}
.footer i:hover {
    color: var(--background-color);
}
.footer a{
    display: block;
    font-size: 1.4rem;
    margin: 0.2rem;
    color: var(--background-color);
}

.footer a:hover {
    color: var(--primary-color);
}

.footer .contact-us div .content .reach-out p{
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem 0;
    color: var(--background-color);
}

.footer .contact-us div .content {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    gap: 1rem;
    align-items: center;
}

/*--------------footer2--------------*/

.footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--sec-primary-color);
    padding: 1.5rem 9%;
    flex-wrap: wrap;
}

.footer-text p {
    font-size: 1.4rem;
    color: var(--background-color);
    font-weight: 600;
}

.footer-iconTop a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--primary-color);
    color: var(--background-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--primary-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
}





/* media query  */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .about .box .video-links iframe, .contact .row iframe {
        max-width: 500px;
        max-height: 370px;
    }
}

@media (max-width: 1020px) {
    h3 {
        font-size: 1.7rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
    .about .box .video-links iframe, .contact .row iframe {
        max-width: 470px;
        max-height: 340px;
    }
}

.navbar .fa {
    display: none;
}
@media (max-width: 800px) {
    .navbar .nav-links ul li {
        display: block;
        padding: .4rem .5rem;
    }
    .navbar .nav-links {
        position: fixed;
        background: var(--primary-color);
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    .navbar .fa{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .navbar ul {
        padding: 10px;
    }
    .navbar .nav-links ul li a {
        background: none;
        font-size: 2rem;
        color: var(--background-color);
    }
    
    
    .navbar .nav-links ul li .dropdown {
        background: var(--primary-color);
    }
    .navbar .nav-links ul li .dropdown a {
        color: var(--background-color);
    }
    
    .navbar ul li ul.submenu {
        right: -6%;
        top: 5rem;
        width: 110%;
        background: var(--primary-color);

        }
        .navbar ul li ul.submenu a {
            color: var(--background-color);
        }
}
@media (max-width: 860px) {
    .about .box .video-links iframe, .contact .row iframe {
        max-width: 450px;
        max-height: 320px;
    }
    
    section{
        padding: 2rem 4%;
    }
    .heading {
        font-size: 2.5rem;
    }
}

@media(max-width:850px){
    
    section{
        padding: 2rem 3%;
    }
    
    .about .box .video-links iframe, .contact .row iframe {
        max-width: 400px;
        max-height: 250px;
    }
    .home .box .swiper-image2 {
        width: 100%;
        max-height: 420px;
    }
    .services1 .row .box .content {
        padding: 4rem 0 3rem 0;
    }
    .services1 .row {
        grid-template-columns: 1fr 1fr;
    }
    .services .row {
        grid-template-columns: 1fr 1fr;
    }

    
    .footer{

        grid-template-columns: repeat(auto-fit,minmax(40%,1fr));
    }
}

@media (max-width: 820px) {
    .about .box .video-links iframe, .contact .row iframe {
        max-width: 400px;
        max-height: 300px;
    }
    .contact .row .form-c {
        max-height: 300px;
    }
    .navbar1 {
        flex-direction: column-reverse;
        
    }
    .row1 {
        padding: 1rem 0;
    }
    h3 {
        font-size: 1.7rem;
    }
    .home .box .swiper-image2 {
        width: 100%;
        max-height: 400px;
    }
    .home .home-slid .box .content p {
        padding: .5rem;
        line-height: 2.3rem;
    }
    .services1 .row .box .content {
        padding: 4rem 0 3rem 0;
    }
    .services1 .row {
        grid-template-columns: 1fr 1fr;
    }
    .services .row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .home .home-slid .box .content h3 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .home .home-slid .box .content p {
        line-height: 2.3rem;
        font-size: 1.8rem;
    }
}

@media(max-width:670px) {
    .about .box {
        flex-direction: column-reverse;
    }
    .contact .row {
        flex-wrap: wrap;
    }
    .about .box .video-links iframe {
        max-width: 550px;
        max-height: 300px;
    }
    .contact .row iframe {
        max-width: 100%;
        max-height: 300px;
    }
}

@media(max-width:630px) {
    .about .box .video-links iframe {
        max-width: 500px;
        max-height: 250px;
    }
}
@media(max-width:750px) {
    .about .box .video-links iframe {
        max-width: 450px;
        max-height: 200px;
    }
}
@media(max-width:560px){
    .services1 .row, .services .row, .mission-vision .about-mission {
        grid-template-columns: 1fr;
    }
    .services .row .box {
        margin: 0 2rem;
    }
    .about .box .video-links iframe {
        max-width: 400px;
        max-height: 250px;
    }
    
    .home .home-slid .box .content{
        width: 50rem;
        padding: 2rem;
    }
}

@media(max-width:412px){
    .about .box .video-links iframe {
        max-width: 370px;
        max-height: 250px;
    }
    .navbar1 .row1{
        flex-wrap: wrap-reverse;
        padding: 0%;
    }
    .navbar1 .row1 .icon-logo a {
        font-size: 3rem;
        margin: 1rem 2rem 0 0 ;
    }
    .navbar1 .row1 .row-row-items{
        padding-left: 1rem;
        display: none;
    }
    .about .box .video-links iframe {
        max-width: 310px;
        max-height: 200px;
    }
    .contact .box {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
    .footer .rows-1 {
        grid-template-columns: 1fr;
        flex-direction: column-reverse;
    }
    .footer .rows .items {
        flex-direction: column;
    }
    .footer a {
        font-size: 1.8rem;
    }
    .footer .content a, .footer .content p {
        font-size: 1.8rem;
    }
    .footer2 {
        flex-direction: column-reverse;
    }
    .footer2 .footer-text {
        text-align: center;
        font-size: 1.6rem;
    }
    .footer2 .footer-iconTop{
        padding-bottom: 1.4rem;
    }

    .home .home-slid .box .content{
        width: 40rem;
        padding: 1.4rem;
    }
    .footer .shar i {
        font-size: 3.5rem;
        padding: 1rem;
    }
 
}